body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


/* Demo CSS */
.demo_img {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  /*width: 800px;*/
  /*align-items: center;*/
  /*flex-basis: 40%*/
  /* margin-left: 25%;
  margin-right: 25%; */
  /*display: block;*/
  /* position: absolute; */
  max-height: 75vh;
}


.demo_slider_container {
  width: 160px; /* Adjust as needed */
  align-items: center;
  text-align: center;
  /*height: 60px; !* Adjust as needed *!*/
  display: none;
  position: absolute;
}

.slider_group {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-height: 75vh;
}

.demo_slider {
  --SliderColor: hsl(50, 100%, 50%);
  -webkit-appearance: none;
  width: 20px;
  height: 5px;
  outline: none;
  opacity: 1; /* Initially hide the slider */
  transition: height,width .5s ease; /* Smooth transition */
  border-radius: 10px;
  background-image: linear-gradient(to right, #f06 0%, #f06 2%, #f4d 18%, #94f 34%, #09f 50%, #7c3 66%, #fe0 82%, #fb0 98%, #fb0 100%);

}

.demo_slider_container:hover .demo_slider {
  width: 100px;
  opacity: 1; /* Show the slider on hover */
}
.demo_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--SliderColor);
  cursor: pointer;
  /*border: 4px solid red; !* White border *!*/
  transition: width,height .3s ease; /* Smooth transition */
}
.demo_slider_container:hover .demo_slider::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  /*border: 4px solid white; !* White border *!*/
}

.content{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  /*padding: 5px 5px;*/
  /*margin: 5px auto;*/
}

.my_carousel-control {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.demo_carousel_item {
  overflow: hidden;
}

.inner-div{
  float:left;
   left:50%;
   position: relative;
}

.centered-div{
   position: relative;
   float:left;
   left: -50% ;
   width: auto;
}

/* .carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */